*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: skyblue;
    padding: 20px;
    line-height: 1.5;

}

.container{
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 2px 10px;
}

h1{
    color:blueviolet;
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
    
}

form{
    display: flex;

}

fieldset{
    border-radius:15px;
    border-color: black;
    padding: 10px;
    background-color:rgb(244, 231, 245);


}


legend{
    padding: 0 10px;
    color:blueviolet;
    font-weight:bold;
    font-size: 20px;
}

table{
    width: auto;
}

tr{
    margin-bottom: 20px;
}

td{
    padding: 5px;
}

label{
    display: flex;
    color: black;
    font-size: 18px;
    }

input[type="text"],
input[type="password"],
input[type="date"],
input[type="file"],
select,
textarea{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-color:grey;
    border-radius: 10px;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

input[type="radio"],
input[type="checkbox"]{
    cursor: pointer;
}

input[type="radio"] + label,
input[type="checkbox"] + label{
    display: inline;
    margin-right: auto;
    cursor: pointer;
}

input[type="submit"]{
    background-color: skyblue;
    color: white;
    padding: 12px, 30px;
    width: 222%;
    border-radius: 50px;
    border-color:black;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    cursor: pointer;
    margin: auto;
}

input[type="submit"]:hover{
    background-color: rgb(249, 202, 242);
}



